
section.video-list {

	.items  {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		margin: 15px 0;
	}

	.items > article {
		flex-grow: 1;
		margin: 15px;
		max-width: 335px;
	}

}
