
:root {
	--rtm-blue:       #0080c5;
	--rtm-light-blue: #57bdea;
	--rtm-orange:     #faa71b;
	--rtm-pink:       #ff7bb2;
	--dark-gray:      #333;
	--neon-green:     #a7ff46;

	--main-bg-color: hsl(0, 0%, 96%);

	--default-font-family: Rubik, Helvetica, Arial, sans-serif;
	--font-weight-light:  300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold:   700;
}
