
:root {
	--rtm-blue:       hsl(201, 100%, 39%);
	--rtm-light-blue: hsl(198,  78%, 63%);
	--rtm-orange:     hsl( 38,  96%, 54%);
	--rtm-pink:       hsl(335, 100%, 74%);
	--dark-gray:      hsl(  0,   0%, 20%);
	--neon-green:     hsl( 89, 100%, 64%);

	--main-bg-color: hsl(0, 0%, 100%);

	--default-font-family: Rubik, Helvetica, Arial, sans-serif;
	--font-weight-light:  300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold:   700;
}
